body {
  background-color: white;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
  font-weight: bolder;    
}

.page-text {
text-align: center;
}
.grid-container {
  display: grid;
  padding: 5px;
  grid-template-columns: 35% 65%;
  margin: 0pt;
  padding: 4pt;
  text-align: right;
  height: 22pt;
}

.select-box {
  width: 46%;
}


.select-box {
width: 46%;
}

.select-box2 {
width: 45.7%;
height: 90%;
}

.submit-button {
  display: grid;
  grid-template-columns: 15% 30%;
  width: 29.5%;
  margin-left: auto;
  margin-right: auto;
}



.table-format {
  display: grid;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-self: auto;
  align-items: center;
}

#timetable {
  border-collapse: collapse;
  width: 100%;
}

#timetable td,
#timetable th {
  border-top: 1px solid lightgray;
  padding: 6px;
  font-weight: normal;
}

#timetable tr:nth-child(even) {
  background-color: #eee;
}

#timetable tr:hover {
  background-color: #f2f2f2;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
