<html>
    <head>
        <link rel="stylesheet" type="text/css" href="\static\styles.css">
    </head>

    <body>
        {% block navbar %}
        <nav>
            <h1 class="page-text">Word List Program By Yahya Alhinai</h1>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}

        <footer id="footer">
            <p class="page-text" ><a href="https://github.umn.edu/alhin010/WordList"> The program GitHub Page</a></p>
        </footer>
    </body>
</html>